@charset "utf-8";
/* line 5, ../scss/partial/mixin/_widget.scss */
.sentence {
  line-height: 1.4;
}

/* line 70, ../scss/partial/_reset.scss */
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* line 93, ../scss/partial/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 98, ../scss/partial/_reset.scss */
ul,
ol {
  list-style: none;
}

/* line 103, ../scss/partial/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 110, ../scss/partial/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 115, ../scss/partial/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 120, ../scss/partial/_reset.scss */
a {
  outline: none;
}

/* line 124, ../scss/partial/_reset.scss */
a:link {
  color: #09598d;
  text-decoration: none;
}

/* line 129, ../scss/partial/_reset.scss */
a:visited {
  color: #09598d;
}

/* line 133, ../scss/partial/_reset.scss */
a:hover {
  color: #09598d;
  text-decoration: underline;
}

/* line 138, ../scss/partial/_reset.scss */
a:active {
  color: #09598d;
  text-decoration: underline;
}

/* line 143, ../scss/partial/_reset.scss */
img {
  vertical-align: bottom;
}

/* line 147, ../scss/partial/_reset.scss */
.cx:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 155, ../scss/partial/_reset.scss */
*:first-child + html .cx {
  /* display: inline-block;*/
  min-height: 1%;
}

/* line 160, ../scss/partial/_reset.scss */
* html .cx {
  height: 1%;
}

/* line 164, ../scss/partial/_reset.scss */
a {
  overflow: hidden;
  text-decoration: underline;
}

/* line 1, ../scss/partial/layout/_container.scss */
body {
  background: #000;
  font-size: 13px;
  font-family: Meiryo, Osaka, "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "MS P Gothic", Arial, Sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: none;
}

@media screen and (max-device-width: 480px) {
  /* line 10, ../scss/partial/layout/_container.scss */
  body {
    -webkit-text-size-adjust: none;
    /* for iPhone */
  }
}
/* line 15, ../scss/partial/layout/_container.scss */
html {
  overflow-y: scroll;
}

/* header */
/* line 2, ../scss/partial/components/_background-widget.scss */
.background-widget {
  background: url(../img/header-bg.jpg) no-repeat 50% 0;
  margin: 0;
}
/* line 5, ../scss/partial/components/_background-widget.scss */
.background-widget .foot {
  background: url(../img/footer-bg.jpg) no-repeat 50% 100%;
  padding-top: 300px;
}
/* line 8, ../scss/partial/components/_background-widget.scss */
.background-widget .foot .inner {
  background: #f6f4eb;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* line 13, ../scss/partial/components/_background-widget.scss */
.background-widget .foot .inner.notfirst {
  padding-top: 30px;
}

/* header */
/* line 3, ../scss/partial/components/_contactus-widget.scss */
.-contactus p {
  display: block;
  margin: 40px auto;
  width: 450px;
}
/* line 7, ../scss/partial/components/_contactus-widget.scss */
.-contactus p a {
  background: url(../img/btn-arrow.png) no-repeat 94% 17px #840000;
  text-align: center;
  color: #fff;
  font-size: 20pt;
  padding: 15px 0;
  width: 450px;
  display: inline-block;
  margin-bottom: 70px;
}

/* header */
/* line 2, ../scss/partial/components/_header-widget.scss */
.header {
  width: 100%;
  background: #fff;
  height: 60px;
  position: fixed;
  z-index: 100;
  top: 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../scss/partial/components/_header-widget.scss */
.header .inner {
  width: 940px;
  margin: 0 auto;
}
/* line 13, ../scss/partial/components/_header-widget.scss */
.header .inner h1 {
  font-size: 16px;
  float: left;
  margin-top: 13px;
  display: inline-block;
}
/* line 19, ../scss/partial/components/_header-widget.scss */
.header .inner .nav {
  margin-top: 15px;
  float: right;
  position: relative;
  right: 0px;
}
/* line 25, ../scss/partial/components/_header-widget.scss */
.header .inner .nav li {
  border-left: 6px solid #2138a6;
  float: left;
  padding: 6px 0;
  margin-right: 20px;
}
/* line 30, ../scss/partial/components/_header-widget.scss */
.header .inner .nav li.nav-mark-quest {
  margin-right: 0;
  padding: 5px 0;
  border: 3px solid #2138a6;
}
/* line 34, ../scss/partial/components/_header-widget.scss */
.header .inner .nav li.nav-mark-quest a {
  background: url(../img/arrow.png) no-repeat 8px 15px;
  padding: 10px 10px 10px 30px;
}
/* line 39, ../scss/partial/components/_header-widget.scss */
.header .inner .nav li a {
  padding-left: 10px;
  font-size: 16px;
}

/* line 1, ../scss/partial/components/_toptext-widget.scss */
.-toptext {
  text-align: center;
}
/* line 3, ../scss/partial/components/_toptext-widget.scss */
.-toptext h1 {
  margin-bottom: 40px;
}
/* line 6, ../scss/partial/components/_toptext-widget.scss */
.-toptext .subtitle {
  font-size: 20pt;
  margin-bottom: 40px;
  padding-top: 30px;
}
/* line 11, ../scss/partial/components/_toptext-widget.scss */
.-toptext .weak-text {
  font-size: 12pt;
  line-height: 1.4;
}

/* header */
/* line 2, ../scss/partial/components/_base-widget.scss */
.-wrapper {
  padding: 0 30px;
}
/* line 4, ../scss/partial/components/_base-widget.scss */
.-wrapper.-border {
  border-top: 10px solid #cfcdc2;
}

/* header */
/* line 2, ../scss/partial/components/_whatsnew-widget.scss */
.-whatsnew {
  margin-bottom: 50px;
}
/* line 7, ../scss/partial/components/_whatsnew-widget.scss */
.-whatsnew dl {
  display: block;
  margin: 0 auto;
  width: 750px;
}
/* line 11, ../scss/partial/components/_whatsnew-widget.scss */
.-whatsnew dl dt {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url(../img/icn-proform.png) no-repeat 100% 0;
  padding-right: 110px;
  margin-right: 20px;
  width: 90px;
}
/* line 18, ../scss/partial/components/_whatsnew-widget.scss */
.-whatsnew dl dd {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 500px;
  line-height: 1.4;
  padding-top: 20px;
}

/* header */
/* line 2, ../scss/partial/components/_item-widget.scss */
.item {
  display: block;
}

/* line 5, ../scss/partial/components/_item-widget.scss */
strong {
  display: block;
  text-align: center;
}
/* line 8, ../scss/partial/components/_item-widget.scss */
strong span {
  color: #333;
  display: inline-block;
  font-size: 18pt;
  text-align: center;
}

/* line 15, ../scss/partial/components/_item-widget.scss */
strong a {
  background: url(../img/icn-proform.png) no-repeat 100% 5px;
  color: #333;
  display: inline-block;
  font-size: 18pt;
  text-align: center;
  padding-right: 120px;
}

/* line 23, ../scss/partial/components/_item-widget.scss */
.item-widget {
  width: 100%;
  z-index: 90;
  background: #FFE100;
  overflow: visible;
  position: relative;
}
/* line 29, ../scss/partial/components/_item-widget.scss */
.item-widget a {
  background: url(../img/img-france.png) no-repeat center 0;
  display: block;
  height: 362px;
  text-indent: -9999px;
  width: 100%;
}
/* line 37, ../scss/partial/components/_item-widget.scss */
.item-widget img {
  margin: 0 auto;
}

/* line 42, ../scss/partial/components/_item-widget.scss */
.ffselectArea {
  border-top: 1px solid #e9dfd0;
  margin: 10px 0 0;
  padding: 15px 0 5px;
}

/* line 48, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox {
  left: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

/* line 57, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox ul.bxslider li a {
  display: block;
  left: 0;
  position: relative;
  z-index: 10;
}

/* line 65, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox ul.controlArrow,
.ffselectAreaBox ul.controlArrowS {
  z-index: 20;
}

/* line 69, ../scss/partial/components/_item-widget.scss */
.bx-controls-direction a {
  background: url(../img/move-arrow.png) no-repeat white;
  display: block;
  height: 55px;
  position: absolute;
  text-indent: -9999px;
  width: 28px;
}

/* line 78, ../scss/partial/components/_item-widget.scss */
.bx-controls-direction a.bx-prev {
  background-position: 0 0;
  position: absolute;
  top: 45px;
  left: 0;
}

/* line 86, ../scss/partial/components/_item-widget.scss */
.bx-controls-direction a.bx-next:hover,
.bx-controls-direction a.bx-prev:hover {
  background-color: #ccc;
}

/* line 90, ../scss/partial/components/_item-widget.scss */
.bx-controls-direction a.bx-next {
  background-position: -90px 0;
  right: 5px;
  top: 45px;
}

/* line 96, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox ul.controlArrowS {
  float: left;
  left: 50%;
  position: relative;
}

/* line 102, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox ul.controlArrowS li {
  position: relative;
  left: -50%;
  float: left;
}

/* line 108, ../scss/partial/components/_item-widget.scss */
.ffselectAreaBox ul.controlArrowS li a.num {
  background: url(../img/fficon-sprite.png) no-repeat -10px -252px;
  display: block;
  height: 8px;
  margin-right: 2px;
  text-indent: -9999px;
  width: 8px;
}

/* header */
/* line 2, ../scss/partial/components/_footer-widget.scss */
.footer {
  width: 900px;
  margin: 30px auto 50px;
}
/* line 5, ../scss/partial/components/_footer-widget.scss */
.footer dl {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 270px;
  margin-right: 10px;
}
/* line 10, ../scss/partial/components/_footer-widget.scss */
.footer dl dt {
  color: #fff;
  font-size: 14pt;
  display: block;
  margin-bottom: 20px;
}
/* line 16, ../scss/partial/components/_footer-widget.scss */
.footer dl dd {
  display: block;
  margin-bottom: 10px;
  line-height: 1.4;
}
/* line 20, ../scss/partial/components/_footer-widget.scss */
.footer dl dd a {
  font-size: 11pt;
  color: #fff;
  background: url(../img/arrow-sml.png) no-repeat 0 8px;
  display: inline-block;
  padding-left: 10px;
}

/* line 31, ../scss/partial/components/_footer-widget.scss */
.copyright {
  color: #fff;
  font-size: 12pt;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 2, ../scss/partial/components/_company-widget.scss */
.-company-widget .subtitle {
  font-size: 20pt;
  margin-bottom: 50px;
  margin: 30px auto;
  width: 800px;
}
/* line 8, ../scss/partial/components/_company-widget.scss */
.-company-widget dl {
  border-bottom: 2px dashed #d0cdc5;
  font-size: 13pt;
  padding-bottom: 15px;
  width: 800px;
  margin: 0 auto 15px;
}
/* line 14, ../scss/partial/components/_company-widget.scss */
.-company-widget dl.last {
  border: none;
}
/* line 17, ../scss/partial/components/_company-widget.scss */
.-company-widget dl dt {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 160px;
}
/* line 21, ../scss/partial/components/_company-widget.scss */
.-company-widget dl dd {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 25, ../scss/partial/components/_company-widget.scss */
.-company-widget .map {
  display: block;
  margin: 20px auto 60px;
}

/* line 32, ../scss/partial/components/_company-widget.scss */
.aboutus h1 a {
  color: #0a3190;
}

/* header */
/* line 3, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main {
  width: 800px;
  margin: 0 auto;
}
/* line 6, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main p {
  line-height: 1.4;
  width: 800px;
  margin: 0 auto 20px;
  font-size: 11pt;
}
/* line 11, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main p.subtitle {
  font-size: 18pt;
}
/* line 14, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main p.last-name {
  text-align: right;
}
/* line 19, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main dl dt {
  font-size: 12pt;
  width: 800px;
  margin-bottom: 10px;
}
/* line 24, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main dl dd {
  font-size: 11pt;
  margin-bottom: 20px;
}
/* line 28, ../scss/partial/components/_privacypolicy-widget.scss */
.-privacypolicy-widget .main dl dd ul li {
  margin-bottom: 5px;
  line-height: 1.4;
}

/* line 38, ../scss/partial/components/_privacypolicy-widget.scss */
.privacypolicy h1 a {
  color: #0a3190;
}
