.-soushiki {
    strong {
        font-size: 36px;
        display: block;
        margin-bottom: 10px;
    }
}
.-toptext {
    text-align: center;
    h1 {
    	margin-bottom: 40px;
    }
    .subtitle {
    	font-size: 20pt;
    	margin-bottom: 40px;
    	padding-top: 30px;
    }
    .weak-text {
    	font-size: 12pt;
    	line-height: 1.4;
    }
}